
* {margin: 0;
  padding: 0;}
.footer-outer-container{
    display: flex;
      justify-content: center;
       
}
.footer-inner-container{
    display: block;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  /* padding-left: 10px;
  padding-right: 10px; */
}
.footer-data {
       display: flex;
       justify-content: space-between;


}
.footer-data ul{
      list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    row-gap: 5px;
    
  color: gray;
}
.footer-data ul li{
   
cursor: pointer;
  
}
.footer-icon{
    width: 12%;
    display: flex;
    justify-content: space-between;
    color:#fff;
    
}
.serviceCode{
     display: flex;
     align-items: center;
    justify-content: space-between;
    border: #fff 1px solid;
    cursor: pointer;
    width: 80%;
    margin: 10px 0;
}
.copy-right{
    font-size: 12px;
    margin-bottom: 10px;
  
}