
* {
  margin: 0;
  padding: 0;}
img {
  max-width: 100%;}
.outer-header-container{
  top:0;
  
  /* width: ; */
  height: 20vh;
  color: white;
  justify-content: center;
  align-items: center;
  position: sticky;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
.inner-header-container{
  display: flex;
  /* width: 90%; */
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-top: 10px;
  height: 60px;
}
 .header-left ul {
    display: flex;
    justify-content: center ;
    align-items:center;
    font-size: 12px;
  /* width: 90%; */
  height: 50px;
  background-color:black;
  gap: 10px;
/* padding-top: 40px; */
/* padding-left: 40px; */
  list-style: none;

}
 ul li img {
  width: 50px; /* Set a fixed width for the image */
  height: 20px; /* Set a fixed height for the image */
  object-fit: cover; /* Crop the image to fill the space while maintaining aspect ratio */
  margin-left: 15px;/* Add some space between the image and text */
  margin-top: 5px;
}
.header-ul{
  height: 32px;
}
.header-right ul {
   display: flex;
 
    justify-content: center ;
    list-style: none;
    align-items: center;
    gap: 8px;
    padding-right: 30px;
 }
  

     /* .header-left ul  {
     display: flex;
     justify-content: space-between ;
 
   

   
      

}  */
